<html>
<head>
<style>
    @page {
        size: auto;
    }
    @page chapter2 {
        background-image: url("{{ absolute_url(asset('public/img/carte_web_recto.png')) }}") no-repeat 0 0;
    }
    @page noheader {
        background-image: url('{{ absolute_url(asset('public/img/carte_web_verso.png')) }}') no-repeat 0 0;
        /* odd-header-name: _blank;
        even-header-name: _blank;
        odd-footer-name: _blank;
        even-footer-name: _blank; */
    }
    div.chapter2 {
        page-break-after: avoid;
        page: chapter2;
    }
    div.noheader {
        page-break-before: avoid;
        page: noheader;
    }
</style>
</head>

<body>
    <div class="chapter2"></div>

    <div class="noheader"></div>

</body>
</html>