{% extends "admin/base/base_simple_layer.html.twig" %}

{% block title %}GestionBundle:Paiement:printInvoice{% endblock %}

{% block body %}
<h1>Welcome to the Paiement:printInvoice page</h1>
{% endblock %}
