{% import 'GestionBundle:Macros:html.html.twig' as _html %}
<ul class="validator-rules small list-unstyled">

    <li data-rule="minLength" class="text-muted"><span class="fa fa-times-circle"></span> {{ _html.text('rules.password.length', 'messages', {"%num%":  8} )}}</li>

    <li data-rule="requireSpecials" class="text-muted"><span class="fa fa-times-circle"></span>  {{ _html.text('rules.password.special', 'messages', {"%num%":  1} )}}</li>

    <li data-rule="requireUpperLowerCase" class="text-muted"><span class="fa fa-times-circle"></span>  {{ _html.text('rules.password.number', 'messages', {"%num%":  1} )}}</li>

    <li data-rule="requireNumbers" class="text-muted"><span class="fa fa-times-circle"></span>  {{ _html.text('rules.password.upper_lower', 'messages', {"%num%":  1} )}}</li>

</ul>