{% import 'GestionBundle:Macros:html.html.twig' as _html %}
<ul class="validator-rules small list-unstyled">

    <li data-rule="alphaDash" class="text-muted"><span class="fa fa-check-circle"></span> {{ _html.text('rules.username.valid', 'messages') }}</li>

</ul>