{% extends 'base.html.twig' %}

{% block title %}New BadgeEdittion{% endblock %}

{% block body %}
    <h1>Create new BadgeEdittion</h1>

    {{ include('badge_edittion/_form.html.twig') }}

    <a href="{{ path('app_badge_edittion_index') }}">back to list</a>
{% endblock %}
