{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}
 {% block page_title %}
    Compte utilisateur
{% endblock %}
{% block page_content %}
    <div class="row">
        
    </div>
{% endblock %}