    {% block page_content %}
    {% form_theme show_form 'bootstrap_3_layout.html.twig' %}
   
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">{{ packCredit.libelle }}</h4>
                </div>
                
                <div class="modal-body">
                    <section>
                              <h4>Description</h4>
                              <div>{{ pack.description }}</div>
                          </section>
                        
                          <section>
                              <h4>Conditions</h4>
                              <div>{{ pack.condition }}</div>
                          </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-default" data-dismiss="modal">Fermer</button>
                    <!--<button type="button" class="btn green">Save changes</button>-->
                </div>
                
            
    {% endblock %}
