{% extends 'SiteBundle:Default:base.html.twig' %}
{% block content %}

<!-- Breadcrumps -->
<section class="breadcrumbs">
    <div class="row">
        <div class="container">
            <div class="col-sm-6">
                <h1>About</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb">
                    <li>You are here: </li>
                    <li><a href="index.html">Home</a> </li>
                    <li>Pages </li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- End of Breadcrumps -->

<!-- About Us Content-->
<section class="about">
    <section class="section_sapce section_primary cover-image" data-image-src="images/info-banners/5.jpg">
        <div class="section-title ">
            <h2>
                <span>About Us</span> Company History
            </h2>
        </div>
    </section>
    <section class="section_sapce section_white">
        <div class="row">
            <div class="container">
                <div class="col-sm-12 col-md-12">
                    <h1>What is TheOptimal Hosting Company</h1>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
                        Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure
                        Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the
                        word in classical literature, discovered the undoubtable source.</p>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
                        Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure
                        Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the
                        word in classical literature, discovered the undoubtable source.</p>
                </div>

            </div>
        </div>
    </section>
    <div class="custom-info odd">
        <div class="row full-width no-gutter section_sapce bg_primary section-parallax parallax cover-image2"
            data-image-src="images/parallax/09.jpg">
            <div class="container">
                <div class="col-sm-12 col-md-6 col-md-push-6 custom-info4-column radius">
                    <div class="thequote">
                        <h5 class="text_dark"><b>Become</b> An Hosting Affiliate</h5>
                        <p class="text_dark">Quisque imperdiet, lorem quis pulvinar dictum, elit neque viverra dui,
                            id consectetur tortor sem id ex. Proin vestibulum tellus libero, sed auctor quam
                            molestie a. Nam scelerisque tincidunt diam, vitae vehicula est.</p> <a href="#"
                            class="btn btn-lg btn-new waves-effect waves-light">Register Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section_sapce section_gray">
        <div class="row">
            <div class="container">
                <div class="col-sm-12 col-md-6 padding-b30">
                    <h1><strong>Youtube</strong> and <strong>Vimeo</strong> PopUp Videos</h1>
                    <p>Sed non pellentesque erat. Mauris mattis finibus iaculis. Maecenas tellus velit, lobortis
                        vitae fermentum aliquam, interdum non elit. In vel justo eu justo dignissim auctor. Ut quis
                        augue urna. Duis velit ligula, posuere non fermentum vel.</p>
                    <p>Integer sit amet augue molestie, commodo nibh vitae, pellentesque felis. Donec lacus lorem,
                        rutrum et nibh sed, semper egestas elit. Cras venenatis convallis neque, at pretium risus
                        malesuada nec. Integer sit amet augue molestie, commodo nibh vitae, pellentesque felis.
                        Donec lacus lorem, rutrum et nibh sed, semper egestas elit. Cras venenatis convallis neque,
                        at pretium risus malesuada nec.</p> <a href="#" class="btn btn-lg btn-new">Watch More
                        Videos</a>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="pop-video-container">
                        <!--Youtube Video Link-->
                        <a class="autoplay" href="https://www.youtube.com/watch?v=RSbOZUfiGqg"><i
                                class="fa fa-play fa-3x" aria-hidden="true"></i></a>

                        <!--Vimeo Video Link-->
                        <!--<a class="autoplay" href="https://vimeo.com/35044232"><i class="fa fa-play fa-3x" aria-hidden="true"></i></a>-->
                        <img src="{{ asset('bundles/site/v3/images/play-video.png') }}" alt="" class="macbook">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Counter Area Start -->
    <section class="counter section_sapce cover-image" data-image-src="images/subbanners/counter-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 margin-top-30">
                    <!-- Counter Item Start -->
                    <i class="fa fa-cloud fa-3x text_white square-border-icon"></i>
                    <div class="counter-holder margin-top-15">
                        <p class="counter-text  text_white">cloud servers sold</p>
                        <div class="counter-number  text_white">587</div>
                    </div>
                    <!-- Counter Item End -->
                </div>


                <div class="col-sm-6 col-md-3 margin-top-30">
                    <!-- Counter Item Start -->
                    <i class="fa fa-sitemap fa-3x text_white square-border-icon"></i>
                    <div class="counter-holder margin-top-15">
                        <p class="counter-text text_white">Shared Hosting sold</p>
                        <div class="counter-number text_white">1.8412</div>
                    </div>
                    <!-- Counter Item End -->
                </div>

                <div class="col-sm-6 col-md-3 margin-top-30">
                    <!-- Counter Item Start -->
                    <i class="fa fa-server fa-3x text_white square-border-icon"></i>
                    <div class="counter-holder margin-top-15">
                        <p class="counter-text text_white">Dedicated Servers Sold</p>
                        <div class="counter-number text_white">1,300</div>
                    </div>
                    <!-- Counter Item End -->
                </div>

                <div class="col-sm-6 col-md-3 margin-top-30">
                    <!-- Counter Item Start -->
                    <i class="fa fa-smile-o fa-3x text_white square-border-icon"></i>
                    <div class="counter-holder margin-top-15">
                        <p class="counter-text text_white">Clients Happy </p>
                        <div class="counter-number text_white">25,324</div>
                    </div>
                    <!-- Counter Item End -->
                </div>
            </div>
        </div>
    </section>
    <!-- Counter Area End -->

    <!-- Content 1 -->
    <section class="row section_sapce section_gray">
        <div class="container">
            <div class="col-sm-12">
                <h1>Donec lacus lorem, rutrum et nibh sed, semper egestas elit.</h1>
                <blockquote class="border">Quisque imperdiet, lorem quis pulvinar dictum, elit neque viverra dui, id
                    consectetur tortor sem id ex. Proin vestibulum tellus libero, sed auctor quam molestie a. Nam
                    scelerisque tincidunt diam, vitae vehicula est. Donec at risus eu erat efficitur sollicitudin.
                </blockquote>
                <p>Integer sit amet augue molestie, commodo nibh vitae, pellentesque felis. Donec lacus lorem,
                    rutrum et nibh sed, semper egestas elit. Cras venenatis convallis neque, at pretium risus
                    malesuada nec. Aliquam aliquam semper cursus. Quisque rhoncus turpis velit, vitae tristique
                    tortor lacinia in. Morbi dui ipsum, finibus quis eros ut, eleifend imperdiet metus. Maecenas
                    suscipit pellentesque metus. Integer rhoncus erat sed dui facilisis aliquet sit amet eu diam.

                </p>
                <p>Integer sit amet augue molestie, commodo nibh vitae, pellentesque felis. Donec lacus lorem,
                    rutrum et nibh sed, semper egestas elit. Cras venenatis convallis neque, at pretium risus
                    malesuada nec. Aliquam aliquam semper cursus. Quisque rhoncus turpis velit, vitae tristique
                    tortor lacinia in. Morbi dui ipsum, finibus quis eros ut, eleifend imperdiet metus. Maecenas
                    suscipit pellentesque metus. Integer rhoncus erat sed dui facilisis aliquet sit amet eu diam.
                </p>
            </div>
        </div>
    </section>
    <!-- End of Content 1 -->


    <!-- Content 2 -->
    <section class="custom-info2">
        <div class="row full-width no-gutter section_sapce bg_primary section-parallax2 parallax cover-image2"
            data-image-src="images/parallax/06.jpg">
            <div class="container">
                <div class="col-sm-12 col-md-6 custom-info4-column radius">
                    <div class="thequote">
                        <h5 class="text_dark">We are Always released latest hosting Offers.</h5>
                        <p class="text_dark">Integer sit amet augue molestie, commodo nibh vitae, pellentesque
                            felis. Donec lacus lorem, rutrum et nibh sed, semper egestas elit. Cras venenatis
                            convallis neque, at pretium risus malesuada.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Content 2 -->

    <!-- Video Section -->
    <section class="row section_sapce section_white">
        <div class="container">
            <div class="section-title margin-b50">
                <h2>
                    <span>Youtube &amp; Vimeo Responsive</span>
                    Video Placements
                </h2>
            </div>
            <div class="col-sm-6 margin-bottom-30">
                <div class="col-sm-12">
                    <div class="video-container">
                        <iframe allowfullscreen frameborder="0" height="315"
                            src="https://www.youtube.com/embed/hpeYWdkUtcE" width="560"></iframe>
                    </div>
                </div>
                <div class="col-sm-12 m-top40">
                    <h1 class="margin-t30">Responsive Youtube Video</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled it to make a type specimen book. It has survived not only five
                        centuries, but also th.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <div class="video-container">
                        <iframe allowfullscreen frameborder="0" height="360"
                            src="https://player.vimeo.com/video/176916362?title=0&byline=0&portrait=0"
                            width="640"></iframe>
                    </div>
                </div>
                <div class="col-sm-12 m-top40">
                    <h1 class="margin-t30">Vimeo Responsive Video</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled it to make a type specimen book. It has survived not only five
                        centuries, but also th.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Video Section -->

    <!-- Sub Banner Section -->
    <section class="custom-info2">
        <div class="row full-width no-gutter section_sapce bg_primary section-parallax3 parallax3 cover-image2"
            data-image-src="images/parallax/08.jpg">
            <div class="container">
                <div class="col-sm-12 col-md-6 col-md-push-6 custom-info4-column  radius">
                    <div class="thequote">
                        <h5 class="text_dark">Have questions?</h5>
                        <p class="text_dark">Nunc imperdiet convallis velit, sed lobortis urna maximus ut.
                            Suspendisse vehicula cursus magna nec efficitur. Ut tempor metus ut enim eleifend
                            fermentum. Curabitur elementum odio nec sem tristique, finibus viverra nisl faucibus.
                        </p>
                        <a href="#" class="btn btn-lg btn-primary">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Sub Banner Section -->

    <!-- Team Section-->
    <div class="row  section_sapce">
        <div class="container ">
            <div class="section-title margin-b50">
                <h2>
                    <span>Our Team</span>
                    Professionals
                </h2>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-12 margin-t30">
                <div class="team">
                    <figure> <img src="images/team/01.jpg" alt="">
                        <figcaption>
                            <h5>Noah Naina</h5>
                            <p>Server Head</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-12 margin-t30">
                <div class="team">
                    <figure> <img src="images/team/02.jpg" alt="">
                        <figcaption>
                            <h5>William Robert</h5>
                            <p>Supporter</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-12 margin-t30">
                <div class="team">
                    <figure> <img src="images/team/03.jpg" alt="">
                        <figcaption>
                            <h5>Emma</h5>
                            <p>Programmer</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-12 margin-t30">
                <div class="team">
                    <figure> <img src="images/team/04.jpg" alt="">
                        <figcaption>
                            <h5>Sophia Thane</h5>
                            <p>Public Relations</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-12 margin-t30">
                <div class="team">
                    <figure> <img src="images/team/05.jpg" alt="">
                        <figcaption>
                            <h5>James Willian</h5>
                            <p>Lead designer</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-12 margin-t30">
                <div class="team">
                    <figure> <img src="images/team/06.png" alt="">
                        <figcaption>
                            <h5>Amanda Schulz</h5>
                            <p>Developer</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-12 margin-t30">
                <div class="team">
                    <figure> <img src="images/team/07.png" alt="">
                        <figcaption>
                            <h5>Isabella Mike</h5>
                            <p>Project Manger</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-12 margin-t30">
                <div class="team">
                    <figure> <img src="images/team/08.png" alt="">
                        <figcaption>
                            <h5>Charlotte Ebli</h5>
                            <p>Support Team</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Team Section-->

    <!-- Other Info-->
    <section class="section_sapce bg_gray">
        <div class="row">
            <div class="container">
                <div class="col-sm-12 col-md-6 margin-b30">
                    <h1><span>Quisque imperdiet, lorem quis pulvinar dictum, elit neque viverra dui, id
                            consectetur</span></h1> <em>Temporibus autem quibusdam et aut officiis debitis aut rerum
                        necessitatibus autem</em>
                    <p>Quisque imperdiet, lorem quis pulvinar dictum, elit neque viverra dui, id consectetur tortor
                        sem id ex. Proin vestibulum tellus libero.</p>
                    <p>Quisque imperdiet, lorem quis pulvinar dictum, elit neque viverra dui, id consectetur tortor
                        sem id ex. Proin vestibulum tellus libero, sed auctor quam molestie a. Nam scelerisque
                        tincidunt diam, vitae vehicula est. sagittis, purus ante efficitur turpis.</p>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="owl-carousel owl-item-1">
                        <div class="item"> <img src="{{ asset('bundles/site/v3/images/portfolio/01.jpg') }}" alt="" />
                        </div>
                        <div class="item"> <img src="images/portfolio/02.jpg" alt="" /> </div>
                        <div class="item"> <img src="images/portfolio/03.jpg" alt="" /> </div>
                        <div class="item"> <img src="images/portfolio/04.jpg" alt="" /> </div>
                        <div class="item"> <img src="images/portfolio/05.jpg" alt="" /> </div>
                        <div class="item"> <img src="images/portfolio/06.jpg" alt="" /> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Other Info-->
</section>

{% endblock %}
{% block footerdescript %}
{% include "SiteBundle:Default:n_footerdescript.html.twig" %}
{% endblock %}