<footer>
    <div class="row bg_white copyright">
        <div class="container">
            <div class=" padding-t30 clearfix">
                <div class="col-sm-6">
                    <h4>Suivez nous</h4>
                    <div class="social-links">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>

                    </div>
                </div>
                <div class="col-sm-6 text-right">
                    <h4>Mode de Paiement</h4>
                    <ul class="list-inline payment-icons">
                        <li><i class="fa fa-cc-mastercard fa-3x"></i></li>
                        <li><i class="fa fa-cc-visa fa-3x"></i></li>
                        <li><i class="fa fa-cc-discover fa-3x"></i></li>
                        <li><i class="fa fa-cc-paypal fa-3x"></i></li>
                        <li><img src="{{ asset('bundles/site/v3/images/om.jpg')}}"></li>
                        <li><img src="{{ asset('bundles/site/v3/images/mtn.jpg')}}"></li>
                        <li><img src="{{ asset('bundles/site/v3/images/mm.jpg')}}"></li>

                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright text-center">Copyright © 2022 MCM</p>
    </div>
</footer>