<div class="container" id="section-parteners">
    <div class="section-title  margin-b50">
        <h2>{{ 'home.section.parteners.label' | trans | raw }}</h2>
    </div>
    <div class="section-content text-center">
        <ul class="list-inline list-partners" data-max-items="7" data-slide="li">
            <li class="partner list-inline-item">
                <a href="http://www.sante.gouv.ci" target="_blank" rel="noopener noreferrer">
                    <img src="/uploads/mshp.jpg" />
                </a>
            </li>
            <li class="partner list-inline-item">
                <a href="http://www.synamepci.net" target="_blank">
                    <img src="/uploads/logo_synamepci.png">
                </a>
            </li>
            <li class="partner list-inline-item">
                <a href="https://societegenerale.ci/fr/" target="_blank">
                    <img src="/uploads/logo-sgci.png">
                </a>
            </li>
            <li class="partner list-inline-item">
                <a href="https://www.pass-mut.org/" target="_blank">
                    <img src="/uploads/logo_pass_mu.png">
                </a>
            </li>
            <li class="partner list-inline-item">
                <img src="/uploads/yellow_startup.jpeg" />
            </li>
            <li class="partner list-inline-item">
                <a href="http://bs.ms/HUKF" target="_blank">
                    <img src="/uploads/logo_mobi_simple_Transparent.png" />
                </a>
            </li>
            <li class="partner list-inline-item">
                <a href="#">
                    <img src="/uploads/espace_sante.png">
                </a>
            </li>
            <li class="partner list-inline-item">
                <a href="https://www.ong-agis.com" target="_blank">
                    <img src="/uploads/ong_agis.png">
                </a>
            </li>
            <li class="partner list-inline-item">
                <a href="http://www.jenysas.bj" target="_blank">
                    <img src="/uploads/logo-jeny.png">
                </a>
            </li>
            <li class="partner list-inline-item">
                <a href="#">
                    <img src="/uploads/cmcs.jpg">
                </a>
            </li>
            <li class="partner list-inline-item">
                <a href="https://www.mamafrica.net/sante" target="_blank">
                    <img src="/uploads/LOGO MAMAFRICA-FR.jpg">
                </a>
            </li>
        </ul>
    </div>
</div>