{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
    <p></p>
    <a href="{{ path("fos_user_security_login") }}">Page de connexion</a><br>
{% endblock fos_user_content %}
