admin_gestion_patient_index:
    path:     /
    defaults: { _controller: "GestionBundle:Patient:index" }
    

admin_gestion_patient_show:
    path:     /{id}/show
    defaults: { _controller: "GestionBundle:Patient:show" }
    methods:  GET

admin_gestion_patient_unregister:
    path:     /{id}/unregister
    defaults: { _controller: "GestionBundle:Patient:unregister" }
    methods:  [GET, POST]


admin_gestion_patient_export:
    path:     /export
    defaults: { _controller: "GestionBundle:Patient:export" }
    methods:  [GET]


admin_gestion_patient_photo:
    path:     /photo
    defaults: { _controller: "GestionBundle:Patient:photo" }
    methods:  [GET, POST]

admin_gestion_patient_new:
    path:     /new/{id}
    defaults: { _controller: "GestionBundle:Patient:new", id: null }
    methods:  [GET, POST]

admin_gestion_patient_edit:
    path:     /{id}/edit
    defaults: { _controller: "GestionBundle:Patient:edit" }
    methods:  [GET, POST]

admin_gestion_patient_delete:
    path:     /{id}/delete
    defaults: { _controller: "GestionBundle:Patient:delete" }
    methods:  [DELETE, GET]


admin_gestion_patient_import:
    path:     /import
    defaults: { _controller: "GestionBundle:Patient:import" }
    methods:  [GET, POST]



admin_gestion_patient_associe:
    path:     /associe/{id}
    defaults: { _controller: "GestionBundle:Patient:associe", id: null }
    methods:  [GET, POST]

admin_gestion_patient_print_badge:
    path:     /{id}/print-badge
    defaults: { _controller: "GestionBundle:Patient:printBadge" }